body {
  overflow-x: hidden !important;
  width: 100% !important;
}

/* Custom container applied to all bold elements except for navbar */
.container {
  width: 95%;
  border-style: solid;
  border-color: transparent;
}

.nav-wrpper {
  width: 95%;
}

/* Shamir Wehbe header */

h1 {
  font-weight: 600;
  font-size: 100px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-weight: 400;
  font-size: 36px;
}

p {
  font-weight: 300;
  color: #9e9e9e !important;
}

/* Full Stack Web Developer font */

p.white-text {
  font-family: "Source Code Pro", monospace;
  font-size: 21px;
}

/* Background for header */

#intro {
  background: url(../img/atom-bg.jpg) no-repeat bottom center scroll;
  background-size: cover;
  padding: 50px;
}

/* Change materialize default color for links */
nav ul li a:hover {
  background-color: white;
}

/* Blue hover color for navbar links */
.blue-hover:hover {
  color: #4285f4;
  transition: color 128ms ease-in;
}

.divider {
  margin-top: 70px;
  margin-bottom: 70px;
  border-style: none;
}

/* Skill bars */

.bar {
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}

.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}

.bar1::after,
.bar2::after,
.bar3::after,
.bar4::after,
.bar5::after,
.bar6::after,
.bar7::after,
.bar8::after {
  content: "";
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 90%;
  background: rgba(214, 191, 48, 1);
}

.bar2::after {
  max-width: 60%;
  background: rgba(54, 199, 235, 1);
}

.bar3::after {
  max-width: 70%;
  background: #8bc34a;
}

.bar4::after {
  max-width: 50%;
  background: #757575;
}

.bar5::after {
  max-width: 60%;
  background: rgba(214, 191, 48, 1);
}

.bar6::after {
  max-width: 67%;
  background: rgba(54, 199, 235, 1);
}

.bar7::after {
  max-width: 70%;
  background: #8bc34a;
}

.bar8::after {
  max-width: 58%;
  background: #757575;
}

/* Control speed of animations to use with AniView */

.fast {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
}

.slow {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
}

.reallyslow {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

/* Portfolio squares sizing */

.center-port {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Custom made button */

.button {
  display: inline-block;
  padding: 4px 12px;
  text-decoration: none;
  color: #28b6d7;
  border-color: rgba(54, 199, 235, 1);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

/* Sweep To Top */

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(54, 199, 235, 1);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
  color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Underline From Left */
.hvr-underline-from-left {
  color: rgba(54, 199, 235, 1);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #8bc34a;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
  color: #8bc34a;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgba(54, 199, 235, 1);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
  color: #8bc34a;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: rgba(54, 199, 235, 1);
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}

/* Proper sizing for portfolio boxes */
.card {
  margin: 0;
  height: 300px;
  width: 400px;
  color: #757575;
  position: relative;
}

@media (max-width: 600px) {
  .card {
    height: 200px;
    width: 300px;
  }
}

.card .card-content {
  padding: 0;
}

.card-content > * {
  margin: 15px;
}

/* Form color overrides for materializeCSS */
/* label color */
.input-field label {
  color: #9e9e9e !important;
}
/* label focus color */
.input-field input[type="email"]:focus + label {
  color: #8bc34a !important;
}
.input-field textarea[type="text"]:focus + label {
  color: #8bc34a !important;
}
/* label underline focus color */
.input-field input[type="email"]:focus {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}
.input-field textarea[type="text"]:focus {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}
/* valid color */
.input-field input[type="email"].valid {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}
/* invalid color */
.input-field input[type="email"].invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

/* Custom CSS to change materializeCSS Toast */
#toast-container {
  min-width: 100% !important;
  bottom: 0% !important;
  top: auto !important;
  right: auto !important;
  left: 0% !important;
}
.toast {
  background-color: #8bc34a !important;
}

/* Prevents zoom on iOS */
#contact1 input,
#contact1 textarea {
  font-size: 16px;
  color: #757575;
}

.pulse {
  background-color: #28b6d7 !important;
}

/* Footer CSS */
.foot-container {
  background: url(../img/footer-shamir-sp.png) no-repeat center;
  background-size: cover;
  height: 600px;
  position: relative;
}
.footer {
  color: white !important;
  font-size: 90px;
  font-weight: 800;
  width: 10%;
}

/* Terminal window CSS */
.shell-visible {
  display: none;
}

.shell-wrap {
  width: 320px !important;
  margin: 100px auto 0 auto !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4) !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  z-index: 4 !important;
  opacity: 0.8 !important;
}

.shell-top-bar {
  text-align: center !important;
  color: #525252 !important;
  padding: 5px 0 !important;
  margin: 0 !important;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) !important;
  font: 16px Arial, sans-serif !important;
  font-size: 0.85em !important;
  border: 1px solid #cccccc !important;
  border-bottom: none !important;
  -webkit-border-top-left-radius: 3px !important;
  -webkit-border-top-right-radius: 3px !important;
  -moz-border-radius-topleft: 3px !important;
  -moz-border-radius-topright: 3px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  background: #f7f7f7 !important;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%) !important;
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f7f7f7),
    color-stop(100%, #b8b8b8)
  ) !important;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%) !important;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%) !important;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%) !important;
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #b8b8b8 100%) !important;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8', GradientType=0) !important;
  /* IE6-9 */
}

.shell-body {
  margin: 0 !important;
  padding: 5px !important;
  list-style: none !important;
  background: #141414 !important;
  color: #45d40c !important;
  font: 0.8em "Andale Mono", Consolas, "Courier New" !important;
  line-height: 1.6em !important;
  -webkit-border-bottom-right-radius: 3px !important;
  -webkit-border-bottom-left-radius: 3px !important;
  -moz-border-radius-bottomright: 3px !important;
  -moz-border-radius-bottomleft: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.shell-body li:before {
  content: "$";
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}

.shell-body li {
  word-wrap: break-word !important;
  position: relative !important;
  padding: 0 0 0 15px !important;
}

.shell-body input:focus {
  border: 0px solid transparent !important;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.shell-box {
  background: transparent !important;
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  font: inherit !important;
  height: initial !important;
}

@media (max-width: 600px) {
  .shell-wrap {
    display: none !important;
  }
}
